
TORI_APP_NAME="AWEN - Graph Based Entity Management"
TORI_APP_DESCRIPTION="Entity Management for Graph Applications using the RAMEN-Framework"
TORI_APP_FAVICON="/favicon-default.jpg" # optional
TORI_APP_HOST="https://example.com"
TORI_APP_PREFIX="/em" # optional

# *gcore.json can be set as file path or http(s) url
TORI_GCORE="/awen-config/gcore.json"
TORI_GCORE_RAMEN="/awen-config/ramen.gcore.json"
#TORI_GCORE_RAMEN="https://raw.githubusercontent.com/THM-Graphs/ATAG-Editor-Guidlines/refs/heads/main/ramen.gcore.json"
#TORI_GCORE_PROJECT="/awen-config/regesta-imperii.gcore.json"
TORI_GCORE_PROJECT="/awen-config/abbw.gcore.json"

# TORI_SERVER_PORT=3000 # optional | default: 3000

# Connection to the neo4j instance
TORI_DB_HOST="example.com"
TORI_DB_PASSWORD="neo4jPass"
TORI_DB_PORT=7687
TORI_DB_USER="neo4j"
TORI_DB_SCHEME="neo4j" # "neo4j+s", "bolt", "bolt+s", usw.
TORI_DB_NAME="neo4j" # optional | default: "neo4j"

TORI_CAMI_HOST="https://cami.example.com" # optional
