<div *transloco="let t" class="error-page flex grid justify-content-center align-content-center gap-4">
  <div class="col-12">
    <h1 class="w-12 flex justify-content-center">
      @if (status) {
        <span class="bg">{{ t("app.screens.error.titleWithStatus", { status }) }}</span>
      } @else {
        <span class="bg">{{ t("app.screens.error.unknownTitle") }}</span>
      }
    </h1>
  </div>
  <div class="col-5 flex justify-content-center gap-4">
    @switch (status) {
      @case ("404") {
        <span>{{ t("app.screens.error.messages.404") }}</span>
      }
      @case ("500") {
        <span>{{ t("app.screens.error.messages.500") }}</span>
      }
      @case ("unknown") {
        <span>{{ t("app.screens.error.messages.unknown") }}</span>
      }
      @default {
        <span>{{ t("app.screens.error.messages.default") }}</span>
      }
    }
  </div>
  <div class="col-12 flex justify-content-center gap-4">
    <p-button [routerLink]="'/'" [label]="t('app.screens.error.homepage')" />
  </div>
</div>
