<p-menubar [model]="items" class="border-noround border-0 bg-primary-50 border-primary-50 px-5" breakpoint="0px">
  <ng-template #start>
    <div class="flex text-center align-content-center align-items-center">
      <div class="pr-5">
        <a routerLink="/" class="flex items-center no-underline text-inherit">
          <h1 class="text-3xl m-0 font-bold tracking-widest text-primary">TORI</h1>
        </a>
      </div>
      @if (!isHomeRoute()) {
        <app-back-button />
      }
    </div>
  </ng-template>
  <ng-template #end>
    <div class="flex items-center align-content-center align-items-center gap-2 h-3rem">
      <app-create-entity />
      <a pButton class="no-underline" severity="secondary" size="large" outlined [routerLink]="['config']">
        <span class="pi pi-cog"></span>
      </a>
      <!--    @if (header()) {-->
      <!--    <span class="text-2xl">{{ header() }}</span>-->
      <!--    } @else if (entityLoading()) {-->
      <!--    <p-skeleton width="5rem" height="1.5rem" />-->
      <!--    }-->
    </div>
  </ng-template>
</p-menubar>
