<p-toast>
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message-text">
      <span class="p-toast-summary">{{ message.summary }}</span>
      <div class="p-toast-detail" [innerHTML]="message.detail"></div>
    </div>
  </ng-template>
</p-toast>
<p-confirm-dialog />

<div class="app-shell">
  <app-navbar class="topbar" />

  <div class="app-content" #appContent (scroll)="onContentScroll($event)">
    @if (loaded()) {
      <router-outlet />
    } @else {
      <div class="loading-wrapper">
        <p-progress-spinner ariaLabel="loading" />
      </div>
    }
  </div>
</div>

<!-- Scroll-to-top Button -->
<p-button
  class="scroll-top-btn"
  [class.visible]="showScrollTop"
  icon="pi pi-arrow-up"
  severity="help"
  outlined
  rounded
  (onClick)="scrollToTop()"
/>

<p-menubar class="configMenuBar">
  <ng-template #start>
    <a
      pButton
      class="no-underline h-3rem"
      size="small"
      severity="secondary"
      outlined
      [href]="'https://github.com/RAMEN-Suite/AWEN'"
      target="_blank"
    >
      <div pButtonLabel class="flex flex-column justify-content-center text-center gap-1">
        <span>TORI</span>
        @if (healthStatusLoaded()) {
          <small>v{{ version() }}</small>
        } @else {
          <p-skeleton />
        }
      </div>
    </a>
  </ng-template>

  <ng-template #end>
    <div class="flex items-center gap-2 h-3rem">
      <a pButton class="no-underline h-3rem" size="small" severity="secondary" outlined [href]="'https://ramen-schema.org'" target="_blank">
        <div pButtonLabel class="flex flex-column justify-content-center text-center gap-1">
          <span>RAMEN</span>
          @if (healthStatusLoaded()) {
            <small>v{{ ramenVersion() }}</small>
          } @else {
            <p-skeleton />
          }
        </div>
      </a>
    </div>
  </ng-template>
</p-menubar>
