<ng-container *transloco="let t">
  <!--<div style="position: fixed; top: 16px; left: 16px">-->
  <!--  <app-back-button />-->
  <!--</div>-->
  <!--<div style="position: fixed; top: 16px; right: 16px">-->
  <!--  <app-delete-entity [entityId]="entityKeyValue()" />-->
  <!--</div>-->
  @if (entity(); as entity) {
    <div class="detail-page">
      <!--  <div class="col-1 px-3 md:flex flex-order-0 md:flex-order-0 align-self-start sticky top-0"></div>-->
      <!--  <div class="col-fixed w-auto px-3 flex gap-2 justify-content-end flex-order-1 md:flex-order-2 align-self-start sticky top-0">-->

      <!--  </div>-->
      <div class="detail-layout grid flex justify-content-center">
        <div class="detail-columns col-12 px-5 flex-order-2 md:flex-order-1 grid flex md:gap-6 align-content-start">
          <section class="detail-card col-12 md:col-5 card flex flex-column gap-3 h-min">
            <div class="detail-card-header col-12 flex flex-row gap-2 justify-content-between">
              <div class="w-8 flex flex-column gap-2">
                <span class="text-4xl font-bold w-12"> {{ entity.label }} </span>
                <div class="flex">
                  <app-node-types [nodeTypes]="entity.types" asChips class="flex gap-2" />
                </div>
              </div>
              <div class="flex w-auto gap-2">
                <app-edit-entity [entity]="entity" />
                <app-delete-entity [entityId]="entityId()" />
              </div>
            </div>
            @if (visibleProperties(entity.properties).length > 0) {
              <div class="entity-properties-scroll col-12 flex flex-column gap-3 h-min">
                <app-attribute-list [properties]="entity.properties" [textSize]="5" />
              </div>
            }
          </section>

          <section class="detail-card col-12 md:col card">
            <div class="detail-card-header col-12 flex justify-content-between">
              <span class="text-4xl font-bold">{{ t("app.screens.detail.annotations.title") }}</span>
              <app-create-annotation [entityId]="entityId()" label="" icon="pi pi-plus" />
            </div>
            <div class="annotations-scroll w-full">
              @if (annotations().length > 0) {
                <app-annotations-list [annotations]="annotations()" class="w-full" />
              } @else {
                <span class="text-base text-gray-500 h-min p-2">
                  {{ t("app.screens.detail.annotations.empty.prefix") }}
                  <span class="pi pi-plus text-primary text-sm"></span>
                  {{ t("app.screens.detail.annotations.empty.suffix") }}
                </span>
              }
            </div>
          </section>
        </div>
      </div>
    </div>
  } @else {
    <div class="loading-wrapper">
      <p-progress-spinner [ariaLabel]="t('app.screens.common.loading')" />
    </div>
  }
</ng-container>
